includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - config
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - identifier: larastan.noEnvCallsOutsideOfConfig
